:root {
  --color-primary: #fff;
  --color-secondary: #6b4bc3;
  --color-terciary: #4a3091;
  margin: 0;
  padding: 0;
}

.App {
  width: auto;
  height: auto;
  background: var(--color-primary);
}

.header {
  background-color: var(--color-secondary);
  height: 70px;
}

.loading {
  margin: 5rem;
}

.footer {
  height: 50px;
  background-color: black;
}

.footer p {
  margin-top: 15px;
  color: var(--color-primary);
}
